<div class="navi">
<ul>
<li class="nav-1"><a class="homeNavItem navItem" href="{{ site.baseurl }}/">Naya Moll</a></li>
<li class="nav-2"><a class="choreographyNavItem navItem" href="{{ site.baseurl }}/choreography.html" >Choreography</a></li>
<li class="nav-3"><a class="dramaturgyNavItem navItem" href="{{ site.baseurl }}/dramaturgy.html" >Dramaturgy</a></li>
<li class="nav-4"><a class="collectiveNavItem navItem" href="{{ site.baseurl }}/collective-works.html">Collective Works</a></li>
<li class="nav-5"><a class="aboutNavItem navItem" href="{{ site.baseurl }}/about.html">About</a></li>
</ul>
</div>
