<div class="navi">
<ul>
<li class="nav-1"><a href="{{ site.baseurl }}/" {% if page.url == '/blog.html' %} class="active" {% endif %}>Naya Moll</a></li>
<li class="nav-2"><a href="{{ site.baseurl }}/choreography.html" {% if page.categories == '/choreography.html' %} class="active" {% endif %}>Choreography</a></li>
<li class="nav-3"><a href="{{ site.baseurl }}/collective-works.html" {% if page.url == '/collective-works.html' %} class="active" {% endif %}>Collective Works</a></li>
<li class="nav-4"><a href="{{ site.baseurl }}/dramaturgy.html" {% if page.url == '/dramaturgy.html' %} class="active" {% endif %}>Dramaturgy</a></li>
<li class="nav-5"><a href="{{ site.baseurl }}/about.html" {% if page.url == '/about.html' %} class="active" {% endif %}>About</a></li>
</ul>
</div>


<!-- {% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.navigation %}
  <li id="header-links">
    <a href=""></a>
    <a id="nav-links" href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>
    {% if item.subitems %}
      {% include navigation.html navigation=item.subitems %}
    {% endif %}
  </li>
{% endfor %}
</ul> -->
