<div class="navi">
  <ul>
  <li class="nav-1"><a class="home" href="{{ site.baseurl }}/">Naya Moll</a></li>
  <li class="nav-2"><a class="choreography" href="{{ site.baseurl }}/choreography.html" >Choreography</a></li>
  <li class="nav-3"><a class="dramaturgy" href="{{ site.baseurl }}/dramaturgy.html" >Dramaturgy</a></li>
  <li class="nav-4"><a class="collective-works" href="{{ site.baseurl }}/collective-works.html">Collective Works</a></li>
  <li class="nav-5"><a class="about" href="{{ site.baseurl }}/about.html">About</a></li>
  </ul>
<!-- <hr class="border-bar"> -->
</div>
