
// ABOUT ------------------------->
.post-container-about {
  padding: 0 2rem;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2rem;
    margin-top: 6rem;
    @media screen and (min-width: $screen-sm-min) {
      width: 60vw;
      margin: auto auto;
      display: flex;
      justify-content: center;
      margin-top: 10rem;
      font-size: 16px;
      line-height: 20px;
}


  .upcoming-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
      }

      #upcoming-list {
        font-size: 13px;
      }


      .contact-title .contact {
        @media screen and (min-width: $screen-sm-min) {
          display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        padding-top: 8rem;
        text-align: center;

        }
      }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  font-size: 16px;
  margin: 2rem 1rem auto;
  background-color: $grey-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;

  li {
  list-style: none;
  padding: 1rem;
  }
}
