//BLOG ------------------------>

.blog-container {
  display: grid;
  justify-content: center;

  .section-container {
    height: 89vh;
    width: auto;
    display: grid;
    align-self: center;
    overflow-y: hidden;
    @media screen and (min-width: $screen-sm-min) {
    height: 100vh;
    }
    @media screen and (min-width: $screen-md-min) {
    margin: 0 5rem;
    padding-top: 56px;
    align-items: start;
    }

  }

  .blog-content {
    // overflow-y: hidden;
    margin: 0 3rem;
    max-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    @media screen and (min-width: $screen-md-min) {
    padding-top: 0.5rem;
    }
  }

  .blog-title {
    // padding-top: 3rem;
    // padding-bottom: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
    color: $link-active-color;
    @media screen and (min-width: $screen-sm-min) {
    height: 7rem;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 0;

    @media screen and (min-width: $screen-md-min) {
      // max-width: 90%;

      }
    }
  }

 img {
  width: 100%;
  object-fit: cover;

  @media screen and (min-width: $screen-sm-min) {
    // max-width: 85%;
    height: 50vh;

    }

  @media screen and (min-width: $screen-md-min) {
  // max-width: 90%;
  height: 78vh;

  }
 }


}

a,
a:visited {
  color: $link-color;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 0;
  @media screen and (min-width: $screen-sm-min) {

  }

a:hover {
  color: $link-hover-color;
}
}



.active {
color: blue !important;
}


nav li a .active{
  color: blue;
}


//Blog post scroll
.blog-scroll:not(first-of-type){
  overflow-y: scroll;
  scroll-snap-align: center;
  scroll-padding-top: 56px;

  @media screen and (min-width: $screen-md-min) {
  overflow-y: scroll;
  scroll-snap-align: end;
  scroll-padding-top: 56px;
  }
}
