//BLOG ------------------------>

.blog-container {
  display: grid;
  justify-content: center;

  .section-container {
    height: 100vh;
    max-height: auto;
    width: auto;
    display: grid;
    align-self: center;
    @media screen and (min-width: $screen-md-min) {
    margin: 0 5rem;
    padding-top: 56px;
    align-items: start;
    }

  }

  .blog-content {
    // overflow-y: hidden;
    margin: 0 3rem;
    max-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @media screen and (min-width: $screen-md-min) {
    overflow-y: hidden;
    padding-top: 1rem;
    }
  }

  .blog-title {
    // padding-top: 3rem;
    // padding-bottom: 3rem;
    color: $link-active-color;
    @media screen and (min-width: $screen-sm-min) {
    height: 7rem;
    align-items: center;
    }
  }

 img {
  // width: 100%;
  // height: auto;
  // padding-top: 2rem;
  width: 100%;
  object-fit: cover;


  @media screen and (min-width: $screen-md-min) {
  // padding-top: 2rem;
  height: 79vh;
  }

    // @media screen and (min-width: $screen-sm-min) {
    //   height: calc(60vh - 56px);
    //   // padding-left: 6rem;
    //   // padding-right: 6rem;

    //   }
    // @media screen and (min-width: $screen-md-min) {
    //   max-height: calc(100vh - 56px);
    //   width: auto;
    //   // padding-left: 6rem;
    //   // padding-right: 6rem;

    //   }

 }


}


a,
a:visited {
  color: $link-color;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 0;

  @media screen and (min-width: $screen-sm-min) {

  }

a:hover {
  color: $link-hover-color;
}
}



.active {
color: blue !important;
}


nav li a .active{
  color: blue;
}



//Blog post scroll
.blog-scroll{


  @media screen and (min-width: $screen-xs-min) {
  overflow-y: scroll;
  scroll-snap-align: center;
  scroll-padding-top: 56px;
  }

  @media screen and (min-width: $screen-md-min) {
  overflow-y: scroll;
  scroll-snap-align: end;
  scroll-padding-top: 56px;
  }
}
