//BLOG ------------------------>

.blog-container {
  min-height: 100vh;

  .section-container {
    min-height: calc(100vh - 56px);
    display: grid;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }


  @media screen and (min-width: $screen-sm-min) {
    display: block;
  }

 img {
  max-height: calc(50vh - 56px);


    @media screen and (min-width: $screen-md-min) {
      max-height: calc(100vh - 56px);
      max-width: 100vw;
      padding-left: 6rem;
      padding-right: 6rem;

      }

 }


}

.blog-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-md-min) {
    display: block;
 }
}



a,
a:visited {
  color: $link-color;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 0;

  @media screen and (min-width: $screen-sm-min) {

  }

a:hover {
  color: $link-hover-color;
}
}


.inverse {
color: white;
background: rgb(216, 15, 15);
}

.active {
color: blue !important;
}


nav li a .active{
  color: blue;
}
