// add font-face or font import declarations here
@font-face {
  font-family: "LifeT";
  src: url('../assets/fonts/LifeT/LifeT.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LifeT Italic";
  src: url('../assets/fonts/LifeT/LifeT Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "LifeT Bold";
  src: url('../assets/fonts/LifeT/LifeT Bold.ttf');
  font-weight: 700;
  font-style: bold;
}
