// NAVBAR

header {
  // min-height: 4rem;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .nav-1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .nav-2, .nav-3, .nav-4 {
    display: none;
  }


  .nav-5 {
    display: flex;
      justify-content: flex-end;
      margin-right: 20px;
  }


  //NAVIGATION LARGE SCREENS
  @media screen and (min-width: $screen-sm-min) {
  position: fixed;
  // min-height: 4rem;
  width: 100%;
  // grid-column: full;
  // display: grid;
  display: flex;
  padding-bottom: 0;




  .nav-1 {
    display: flex;
    justify-content: flex-start;
  }

  .nav-2 {
    display: flex;
    justify-content: flex-end;
  }

  .nav-3 {
    display: flex;
    margin-left: 1rem;
    justify-content: center;
  }

  .nav-4 {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .nav-5 {
    display: flex;
      justify-content: flex-end;
      margin-right: 20px;
  }
 }
}



// main menu, is a grid item / NAV CONTROLL
header > nav {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    // padding-top: 1rem;
    margin: 1rem 0;

    @media screen and (min-width: $screen-sm-min) {

    }
  }

  @media screen and (min-width: $screen-sm-min) {
    min-width: 100%;
    background-color: $grey-bg-color;

    ul {
      // flexbox is better than grid for distributing an unknown qty of children
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
      gap: 0px 0px;


      li {
        white-space: nowrap;
        @media screen and (min-width: $screen-sm-min) {


        }
      }
    }
  }
}
