#nav-links {
  font-weight: 400;
  font-size: 20px;
  line-height:1.2;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;

}


#header-links {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  display: inline-block;

}

#header-links a:first-child {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;

}


#header-links a:last-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;


}
