
.post-container {
    padding: 0 2rem;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

  img {
    width: 100%;
    padding: 0.3rem 0;
    @media screen and (min-width: $screen-sm-min) {
      width: 75%;
    }
  }


  .image-block {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  figure {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
       width: 70%
    }
  }
}


  p {

    @media screen and (min-width: $screen-sm-min) {
      padding: 1rem;
      word-wrap: break-word;
      max-width: 600px;
      justify-content: center;
      margin: 0 auto;
    }
      @media screen and (min-width: $screen-md-min) {
      // max-width: 600px;
    }

  }

  .digt {
    text-align: center;
  }

  .page-title {
    padding: 1.5rem 3rem 1rem 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    }


    .reviews-title {
      padding: 2.5rem 3rem 1rem 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }

    .credits-title {
      padding: 2.5rem 3rem 1rem 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }


  #credits-list {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: $screen-sm-min) {
    max-width: 600px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    }

    li {
      line-height: 20px;
      // padding: 1rem;
    }
  }


.center {
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
