
// ABOUT ------------------------->
.post-container {
  padding: 0 2rem;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

  img {
    width: 100%;
    padding: 1rem 0;
    @media screen and (min-width: $screen-sm-min) {
      width: 80%;
    }
    @media screen and (min-width: $screen-md-min) {
    //  width: 70%
    }
  }


  .page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .image-block {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .post-image {
    margin-top: 2rem;
    width: 100%;
  }

  //   .page-content {
  //     @media screen and (min-width: $screen-sm-min) {
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //   }
  // }

  p {
    @media screen and (min-width: $screen-sm-min) {
      padding: 1rem;
      word-wrap: break-word;
      max-width: 500px;
      margin: 0 auto;
  }
  @media screen and (min-width: $screen-md-min) {
    max-width: 600px;
  }

}
  .page-title {
    padding: 1.5rem 3rem 1rem 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }


    .reviews-title {
      padding: 2.5rem 3rem 1rem 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }

    .credits-title {
      padding: 2.5rem 3rem 1rem 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }
}
