// POST --------------------------->

.post-container {
  img {
    max-width: 50vh;
    display: grid;
    grid-column: main;
    padding-top: 2rem;
    @media screen and (min-width: $screen-sm-min) {
      max-height: 56vh;
      max-width: none;
      padding-top: 8rem;
    }
    @media screen and (min-width: $screen-md-min) {
      max-height: 70vh;
      max-width: none;
      padding-top: 8rem;
    }


  }

  .page-title {
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-top: 3rem;

    @media screen and (min-width: $screen-sm-min) {
    padding-top: 3rem;
    }
  }

  .page-content {
    padding: 0 2rem;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2rem;
    // margin-top: 1rem;
    @media screen and (min-width: $screen-sm-min) {
      max-width: 58vw;
      margin: 2rem auto;
      font-size: 16px;
      line-height: 20px;
    }
    @media screen and (min-width: $screen-md-min) {
      max-width: 55vw;
      margin: 2rem auto;
    }



    .reviews-title {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-top: 1.5rem;
    }

    .credits-title {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-top: 1.5rem;
    }

    .page-credits {
      padding-bottom: 8rem;
    }

    .title-italic {
    font-style: italic;

    }
  }



}


.post-featured-images img{
  @media screen and (min-width: $screen-md-min) {
    // min-height: calc(90vh - 56px);
    margin-top: 4rem;
    max-width: 100%;
  }
}






// blog posts list
html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    color: $text-color;
    p {
      padding-bottom: 0;
    }
  }
}

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}
