// POST --------------------------->

.post-container {
  display: grid;
  grid-column: main;
  justify-content: center;
  overflow-y: auto;


  img, .post-image {
    max-width: 80%;
    object-fit: cover;
    display: grid;
    grid-column: main;
    padding-top: 5rem;
    @media screen and (min-width: $screen-sm-min) {
      max-width: 70%;
    }
  }


  .page-title {
    padding: 2.5rem 3rem 1rem 3rem;
    text-align: center;
    display: flex;
    justify-content: center;



    @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0.5rem;

    }
  }

  .post-image {
    align-items: center;
    @media screen and (min-width: $screen-sm-min) {
    }
    @media screen and (min-width: $screen-md-min) {
    }
  }


  .page-content {
    font-size: 14px;
    line-height: 18px;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media screen and (min-width: $screen-sm-min) {
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        font-size: 16px;
        line-height: 20px;
      }

    }
    @media screen and (min-width: $screen-md-min) {
      margin: 0 10%;
    }

    .reviews-title {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-top: 1.5rem;

    }

    .page-credits {
      padding-bottom: 8rem;
    }

    .credits-title {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding-top: 1.5rem;
    }



    .title-italic {
    font-style: italic;
    }
  }

}


// blog posts list
html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    color: $text-color;
    p {
      padding-bottom: 0;
    }
  }
}

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}
