---
layout: default
---
<section id="{{ page.title }}">
  <div class="post-container">
    <div class="iframe-container"> {% include vimeoPlayer.html id=page.vimeoid %} </div>
      <div class="page-title">{{ page.title }}
      </div>
      <div class="page-content">
        {{ content }}
        {% if page.credits contains "" %}
          <div class="page-credits"><p class="credits-title">credits</p>
            <ul id="credits-list">
              {% for credit in page.creditslist %}
                <li>{{ credit }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
      </div>
  </div>
</section>
