---
layout: default
---
<section id="{{ page.title }}">

<div class="post-container">
      <a href="{{ post.url }}" class="post-url">
        <img src="{{- page.image | relative_url -}}" alt="" class="post-top-img">
      </a>
    <div class="page-title">{{ page.title }}
    </div>

  <div class="page-content">
    {{ content }}
    <div class="page-reviews"><p class="reviews-title">Reviews</p>{{ page.reviews }}</div>
      <div class="page-credits"><p class="credits-title">credits</p>{{ page.credits }}
      </div>
  </div>

</div>
</section>
