---
layout: default
---
<section id="{{ page.title }}">
  <div class="post-container">
    <div class="iframe-container"> {% include youtubePlayer.html id=page.youtubeId %}</div>
      <div class="page-title">{{ page.title }}
      </div>
      <div class="page-content">
      {{ post.content }}
        {% if page.credits contains "" %}
          <div class="page-credits"><p class="credits-title">credits</p><p>{{ page.credits }}</p>
        {% endif %}
          </div>
      </div>
  </div>
</section>
